<div routerLink="/laptops" class="banner">
 </div>
<div class="products">
  <div  class="product">
    <mat-card>
      <img class="wow fadeInUp" src="https://m.media-amazon.com/images/I/71rmymgVWVL._AC_UY327_FMwebp_QL65_.jpg" alt="" class="product-img">
      <p>HP</p>
      <p>Newest 2022 HP laptop</p>
      <p class="money">&#8377; <strong>49999.00</strong></p>
      <button routerLink="/cart" class="Add-to-cart">Add to cart</button>
    </mat-card>
  </div>

  <div class="product">
    <mat-card>
      <img class="wow fadeInUp" src="https://m.media-amazon.com/images/I/71CJhfgS6IL._AC_UY327_FMwebp_QL65_.jpg" alt="" class="product-img">
      <p>Lenovo</p>
      <p>Lenovo IdeaPad 3</p>
      <p class="money">&#8377; <strong>52000.00</strong></p>
      <button routerLink="/cart" class="Add-to-cart">Add to cart</button>
    </mat-card>
  </div>

  <div class="product">
    <mat-card>
      <img class="wow fadeInUp" src="https://m.media-amazon.com/images/I/61ODvSV9zEL._AC_UY327_FMwebp_QL65_.jpg" alt="" class="product-img">
      <p>Lenovo IdeaPad 3i</p>
      <p>Laptop with fingerprint reader</p>
      <p class="money">&#8377; <strong>55000.00</strong></p>
      <button routerLink="/cart" class="Add-to-cart">Add to cart</button>
    </mat-card>
  </div>

  <div class="product">
    <mat-card>
      <img class="wow fadeInUp" src="https://m.media-amazon.com/images/I/710QdRZmrhL._AC_UY327_FMwebp_QL65_.jpg" alt="" class="product-img">
      <p>Dell</p>
      <p>Dell Inspiron 3510 laptop</p>
      <p class="money">&#8377; <strong>90000.00</strong></p>
      <button routerLink="/cart" class="Add-to-cart">Add to cart</button>
    </mat-card>
  </div>

  <div class="product">
    <mat-card>
      <img class="wow fadeInUp" src="https://m.media-amazon.com/images/I/814yufLitxS._AC_UY327_FMwebp_QL65_.jpg" alt="" class="product-img">
      <p>Dell</p>
      <p>Dell latitude 3520</p>
      <p class="money">&#8377; <strong>50000.00</strong></p>
      <button routerLink="/cart" class="Add-to-cart">Add to cart</button>
    </mat-card>
   </div>

  <div class="product">
    <mat-card>
      <img class="wow fadeInUp" src="https://m.media-amazon.com/images/I/81DkONvgRVL._AC_UY327_FMwebp_QL65_.jpg" alt="" class="product-img">
      <p>Asus</p>
      <p>Asus Zenbook 14 altra slim laptop</p>
      <p class="money">&#8377; <strong>99999.00</strong></p>
      <button class="Add-to-cart">Add to cart</button>
    </mat-card>
  </div>

  <div class="product">
    <mat-card>
      <img class="wow fadeInUp" src="https://m.media-amazon.com/images/I/81HbaBmmvNS._AC_UY327_FMwebp_QL65_.jpg" alt="" class="product-img">
      <p>HP</p>
      <p>HP Privilion x360 touchscreen laptop</p>
      <p class="money">&#8377; <strong>65000.00</strong></p>
      <button class="Add-to-cart">Add to cart</button>
    </mat-card>
  </div>

  <div class="product">
    <mat-card>
      <img class="wow fadeInUp"  src="https://m.media-amazon.com/images/I/61CFBQbUeOS._AC_UY327_FMwebp_QL65_.jpg" alt="" class="product-img">
      <p>Lenovo</p>
      <p>Lenovo IdeaPad 3 touchscreen laptop</p>
      <p class="money">&#8377; <strong>43000.00</strong></p>
      <button  class="Add-to-cart">Add to cart</button>
    </mat-card>
  </div>
</div>

