.banner{
   background-image: url(https://images-na.ssl-images-amazon.com/images/G/01/consumerelectronics/CAC/Category_Storefronts/1367476_us_he_handpicked_laptops_1500x440.jpg
  );
background-size: cover;
padding-top: 25%;

}


h2{
color: white;
text-align: center;

}



.banner-title1{
font-size: 3rem;
font-weight: 600;
opacity: 80%;
padding-bottom: 10px;

}


.banner-title2{
  padding-bottom: 4%;
  font-size: 1.5rem;
  font-weight: 500;
  opacity: 75%;
  padding-top: 5px;
}



.products{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.product > mat-card > img{
object-fit: contain;
height: 200px;
padding-bottom: 10px;
}

.product > mat-card{
display: flex;
flex-direction: column;
min-height: 350px;
width: 250px;
align-items: center;
margin: 15px;
}

.product > mat-card > button{
  margin-top: 20px;
  background-color: #f0c14b;
  opacity: 99%;
  border: 1px solid;
  padding: 8px;
  border-radius: 3px;
  border-color: #a88134 #9c7e31 #846a29;

}




.products{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.product > mat-card > img{
object-fit: contain;
height: 150px;
padding-bottom: 10px;
}

.product > mat-card{
display: flex;
flex-direction: column;
min-height: 350px;
width: 250px;
align-items: center;
margin: 15px;
}

.product > mat-card > button{
  margin-top: 20px;
  background-color: #f0c14b;
  opacity: 99%;
  border: 1px solid;
  padding: 8px;
  border-radius: 3px;
  border-color: #a88134 #9c7e31 #846a29;
}


.product:hover> mat-card > img{
  height: 214px;
  margin-bottom: 10px;
  }

  .product:hover{
    background-color: rgba(245, 243, 240, 0.886);
  }
