<div class="products">
  <div class="product">
    <mat-card>
      <img src="https://m.media-amazon.com/images/I/51uEwkqjZTL._AC_UY327_FMwebp_QL65_.jpg" alt="" class="product-img">
      <p>One Plus</p>
      <p>One Plus 8GB RAM 12GB storage</p>
      <p class="money">$ <strong>527.00</strong></p>
      <button class="Add-to-cart">Add to cart</button>
    </mat-card>
  </div>

  <div class="product">
    <mat-card>
      <img src="https://m.media-amazon.com/images/I/41ZjUOH6nRL._AC_.jpg" alt="" class="product-img">
      <p>Apple iPhone</p>
      <p>Apple iPhone XR, 64GB, White</p>
      <p class="money">$ <strong>598.00</strong></p>
      <button class="Add-to-cart">Add to cart</button>
    </mat-card>
  </div>

  <div class="product">
    <mat-card>
      <img src="https://m.media-amazon.com/images/I/711PvTS05pL._AC_UY327_FMwebp_QL65_.jpg" alt="" class="product-img">
      <p>Apple iPhone</p>
      <p>Apple iPhone 12 Pro 128GB Gold</p>
      <p class="money">$ <strong>985.00</strong></p>
      <button class="Add-to-cart">Add to cart</button>
    </mat-card>
  </div>

  <div class="product">
    <mat-card>
      <img src="https://m.media-amazon.com/images/I/61lEJiJ61TL._AC_UY327_FMwebp_QL65_.jpg" alt="" class="product-img">
      <p>Xiaomi</p>
      <p>Xiaomi Redmi Note 10 Pro Dual</p>
      <p class="money">$ <strong>250.00</strong></p>
      <button class="Add-to-cart">Add to cart</button>
    </mat-card>
  </div>

  <div class="product">
    <mat-card>
      <img src="https://m.media-amazon.com/images/I/61bfdXk7nfL._AC_UY327_FMwebp_QL65_.jpg" alt="" class="product-img">
      <p>Samsung</p>
      <p>Samsung galaxy Z flip</p>
      <p class="money">$ <strong>899.00</strong></p>
      <button class="Add-to-cart">Add to cart</button>
    </mat-card>
   </div>

  <div class="product">
    <mat-card>
      <img src="https://m.media-amazon.com/images/I/61bLefD79-L._AC_UY327_FMwebp_QL65_.jpg" alt="" class="product-img">
      <p>Samsung</p>
      <p>Samsung Galaxy S21 ultra 5G</p>
      <p class="money">$ <strong>999.00</strong></p>
      <button class="Add-to-cart">Add to cart</button>
    </mat-card>
  </div>

  <div class="product">
    <mat-card>
      <img src="https://m.media-amazon.com/images/I/61smwbhzBML._AC_UL480_FMwebp_QL65_.jpg" alt="" class="product-img">
      <p>One Plus</p>
      <p>One Plus 9 Pro 5G</p>
      <p class="money">$ <strong>597.00</strong></p>
      <button class="Add-to-cart">Add to cart</button>
    </mat-card>
  </div>

  <div class="product">
    <mat-card>
      <img src="https://m.media-amazon.com/images/I/61OVa6T1DCL._AC_UY327_FMwebp_QL65_.jpg" alt="" class="product-img">
      <p>Xiaomi</p>
      <p>Xiaomi MI 11 Lite 5G</p>
      <p class="money">$ <strong>300.00</strong></p>
      <button class="Add-to-cart">Add to cart</button>
    </mat-card>
  </div>
</div>


