 <div class="header">
   <nav class="header-top">
   <div class="header-menu">
     <div class="header-menu-icon">
       menu
     </div>
     <img src="http://pngimg.com/uploads/amazon/amazon_PNG11.png" class="header-menu-logo" alt="amazon logo">
     <div class="header-menu-searchbar">
       <input type="text" class="header-menu-input">
       <div class="header-meanu-searchbar-icon">

         </div>
        </div>
       <div class="header-menu-signin">
         <span class="header-menu-top-item">Hello, Sign in </span>
         <span class="header-menu-top-item">Account & lists </span>

       </div>
       <div class="header-menu-signin">
        <span class="header-menu-top-item">Hello, Sign in </span>
        <span class="header-menu-top-item">Account & lists </span>

      </div>
    </div>
   </nav>
   <nav class="header-bottom"></nav>
 </div>


