.header-top{
  height: 60px;
  background-color: #0F1111;
  font-size: 14px;
  display: flex;
  color: white;
  padding-right: 8px;
  padding-bottom: 10px;

}

.header-menu{
  display: flex;
  padding: 9px 8px 8px 8px;
  width: 100%;
}


.header-menu-location{
  padding-top: 5px;
}

.header-menu-left-line-two{
  padding: 0px 5px;

}



.header-menu-icon > mat-icon{

font-size: 45px;
align-items: center;
padding-right: 2rem;
}

.header-menu-input{
  height: 20px;
  padding: 10px;
  border: none;
  width: 30rem;
  /* margin-left: 2rem; */
  border-radius: 2px;
  border-color:#232f3e;
}

.header-menu-searchbar-icon{
  background-color: #febd69;
  height: 40px;
  width: 40px;
  color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* margin-right: 3rem; */
}

.header-menu-cart{
  display: flex;
  margin-top: 10px;
  /* margin-left: 8px; */
  height: 50px;
  justify-content: space-around;
}

.header-menu>div{
  margin: 8px;
}

.header-menu-searchbar{
  display: flex;
  margin-top: 8px;
  height: 40px;
  justify-content: center;
  flex: 1;

}

.header-menu-logo{
  object-fit: contain;
  width: 100px;
  margin: 12px 20px 0% 2px;

}

.header-menu-signin{
  display: flex;
  flex-direction: column;
  /* padding-right: 2rem; */
}

.header-menu-signin a{
  text-decoration: none;
  word-spacing: 1.5px;

}



.header-menu-top-item{
color: lightgray;
font-size: 13px;
}

.header-menu-bottom-item{
  font-size: 13px;
  font-weight: 500;
}

.header-menu-cart{
  padding-top: 10px;
}

.header-cart-number{
  color: #febd69;
  font-size: 18px;
  font-weight: 800;
}

.header-bottom{
  height: 30px;
  background-image: none;
  background-color: #232f3e;
  padding-left: 8px;
  font-size: 12px;
  padding-top: 5.5px;
  border-bottom: 2px solid #febd69;

}

.header-bottom-list >a{
  color: white;
display: inline;
padding-right: 20px;
  font-size: 16px;
  font-weight: 500;
  padding-left: 70px;
  text-decoration: none;

}
