 <div class="header">
   <nav class="header-top">
   <div class="header-menu">
     <div class="header-menu-icon">
<mat-icon>menu</mat-icon>
     </div>
     <img src="http://pngimg.com/uploads/amazon/amazon_PNG11.png" class="header-menu-logo" alt="amazon logo">
     <div class="header-menu-location">
<span class="header-menu-left-line-one">Delivery to</span>

<span class="header-menu-left-line-two"><strong>India</strong></span>
     </div>
     <div class="header-menu-searchbar">
       <input type="text" placeholder="search products here!"class="header-menu-input">
       <div class="header-menu-searchbar-icon">
<mat-icon><a href=""> search</a></mat-icon>
         </div>
        </div>
       <div class="header-menu-signin">
        <a href=""><span routerLink="/login" class="header-menu-top-item">Hello, <strong style="letter-spacing: 1px; color: rgba(255, 162, 0, 0.806);"  > Bhanu</strong></span></a>
        <span class="header-menu-bottom-item">Account & lists </span>

       </div>
       <div class="header-menu-signin">
        <span class="header-menu-top-item">Returns </span>
        <span class="header-menu-bottom-item">& orders </span>

      </div>
      <div routerLink="/checkout" class="header-menu-cart">
        <mat-icon><a href="" class="cartlogo">shopping_cart</a></mat-icon>
        <p class="header-cart-number">0</p>
      </div>
    </div>
   </nav>
   <nav class="header-bottom">
     <div class="header-bottom-list">
       <a href="#">categories</a>
       <a routerLink="">Shirts for Mens</a>
       <a routerLink="/girlscloths">Tops for Womens</a>
       <a routerLink="/laptops">Laptops</a>
       <a routerLink="/mobiles">SmartPhones</a>
       <a routerLink="/watch">Watches</a>
     </div>
   </nav>
 </div>


