<div class="checkout_products" *ngIf="wishlistArray.length !=0"><div class="products" >
  <div class="product" >
    <mat-card *ngFor="let w of wishlistArray  ">
     <img src="{{w.image}}" class="product-img" />
      <p><strong>{{w.title}}</strong></p>
      <p>{{w.shortDesc}}</p>
      <p class="money"> <strong>{{w.price | currency:'INR'}}</strong></p>

    <div *ngIf="!w.addedtocart">
      <div >
     <button class="Add-to-cart" >  Add to cart </button>
    </div>
</div>
     <div *ngIf="w.addedtocart" >
      <button class="Add-to-cart1" ><i class="fa-solid fa-circle-check" id="check"></i><strong> Product Added</strong></button>
     </div>
    </mat-card>
  </div>
</div>
</div>

<div class="checkout_empty" *ngIf="wishlistArray.length == 0">
  <h2>Your shopping basket is empty</h2>
  <p>Oop's! You have no items in your wishlist</p>
  <button routerLink="/">shop now</button>
</div>



