<div class="banner">
  <h2 class="banner-title1">Expect the unexpected.</h2>
 <h2 class="banner-title2">Experience the lifestyle.</h2>
 </div>

<div class="products">
  <div class="product">
    <mat-card>
      <img src="https://assets.ajio.com/medias/sys_master/root/20210407/01e2/606caa54f997dd7b64a58ca7/netplay_white_striped_slim_fit_shirt_with_patch_pocket.jpg" alt="" class="product-img">
      <p><strong>Gucci</strong></p>
      <p>Striped Slim Fit Shirt</p>
      <p class="money">&#8377; <strong>899.00</strong></p>
      <button (click)=addtocart(result) class="Add-to-cart">Add to cart</button>
    </mat-card>
  </div>

  <div class="product">
    <mat-card>
      <img src="https://assets.ajio.com/medias/sys_master/root/20210403/AcbB/6068b6caf997dd7b64643def/dennislingo_premium_attire_green_striped_slim_fit_shirt.jpg" alt="" class="product-img">
      <p><strong>Zara</strong></p>
      <p>Striped Slim Fit Shirt with Patch </p>
      <p class="money">&#8377; <strong>600.00</strong></p>
      <button (click)=addtocart(result) class="Add-to-cart">Add to cart</button>
    </mat-card>
  </div>

  <div class="product">
    <mat-card>
      <img src="https://assets.ajio.com/medias/sys_master/root/20220224/uLAB/62168f18f997dd03e2ebc99c/netplay_mint_green_leaf_print_shirt_with_patch_pocket.jpg" alt="" class="product-img">
      <p><strong>Jack & Jones</strong></p>
      <p>Leaf Print Shirt with Patch Pocket</p>
      <p class="money">&#8377; <strong>999.00</strong></p>
      <button (click)=addtocart(result) class="Add-to-cart">Add to cart</button>
    </mat-card>
  </div>

  <div class="product">
    <mat-card>
      <img src="https://assets.ajio.com/medias/sys_master/root/20210831/LMbD/612d5a347cdb8cb8240f5272/netplay_navy_blue_checked_cotton_shirt_with_patch_pocket.jpg" alt="" class="product-img">
      <p><strong>LEVIS'S</strong></p>
      <p>Checked Cotton Shirt with Patch</p>
      <p class="money">&#8377; <strong>699.00</strong></p>
      <button (click)=addtocart(result) class="Add-to-cart">Add to cart</button>
    </mat-card>
  </div>

  <div class="product">
    <mat-card>
      <img src="https://assets.ajio.com/medias/sys_master/root/20210316/wzK4/604faf057cdb8c1f1463308a/the_indian_garage_co_mustard_yellow_checked_slim_fit_shirt_with_patch_pocket.jpg" alt="" class="product-img">
      <p><strong>H&M</strong></p>
      <p> Slim Fit Shirt with Patch</p>
      <p class="money">&#8377; <strong>900.00</strong></p>
      <button (click)=addtocart(result) class="Add-to-cart">Add to cart</button>
    </mat-card>
  </div>

  <div class="product">
    <mat-card>
      <img src="https://assets.ajio.com/medias/sys_master/root/20220119/oqrS/61e8376df997dd66232a71cd/ketch-white-classic-placement-striped-shirt.jpg" alt="" class="product-img">
      <p><strong>Pantaloon</strong></p>
      <p>Striped Slim Fit Shirt with Patch</p>
      <p class="money">&#8377; <strong>600.00</strong></p>
      <button (click)=addtocart(result) >Add to cart</button>
    </mat-card>
  </div>

  <div class="product">
    <mat-card>
      <img src="https://assets.ajio.com/medias/sys_master/root/20220319/eXSa/6234decef997dd03e21ddb1c/ketch-blue-classic-graphic-print-slim-fit-shirt.jpg" alt="" class="product-img">
      <p><strong>Armani</strong></p>
      <p>Striped Slim Fit Shirt with Patch</p>
      <p class="money">&#8377; <strong>600.00</strong></p>
      <button (click)=addtocart(result) class="Add-to-cart">Add to cart</button>
    </mat-card>
  </div>

    <div class="product">
    <mat-card>
      <img src="https://assets.ajio.com/medias/sys_master/root/20220425/mYGH/6266b7fef997dd03e27eacb5/-473Wx593H-464225231-grey-MODEL.jpg" alt="" class="product-img">
      <p><strong>Louis</strong></p>
      <p>Striped Slim Fit Shirt with Patch</p>
      <p class="money">&#8377; <strong>600.00</strong></p>
      <button (click)=addtocart(result) class="Add-to-cart">Add to cart</button>
    </mat-card>
  </div>
</div>




 <!-- <div class="products" >
  <div class="product" *ngFor="let dt of result">
    <mat-card>
      <img src="{{dt.image}}" class="product-img"/>
      <p><strong>{{dt.title}}</strong></p>
      <p>{{dt.description}}</p>
      <p class="money">&#8377; <strong>{{dt.price}}</strong></p>
      <button (click)=addtocart(result) class="Add-to-cart">Add to cart</button>
    </mat-card>
  </div>
</div> -->
