
<nav class="header-bottom">
  <div class="header-bottom-list">
    <a (click)="filter('')">All Categories</a>
    <a (click)="filter('Shirts for Mens')">Shirts for Mens</a>
    <a (click)="filter('Tops for Womens')">Tops for Womens</a>
    <a (click)="filter('Laptops')">Laptops</a>
    <a (click)="filter('SmartPhones')">SmartPhones</a>
    <a (click)="filter('Watches')">Watches</a>
  </div>
</nav>


<!-- <div class="banner">
  <h2 class="banner-title1">Expect the unexpected.</h2>
 <h2 class="banner-title2">Experience the lifestyle.</h2>
 </div>  -->

 
 <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../../assets/images/img1.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../../../assets/images/img2.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../../../assets/images/img3.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>

  
   
</div>






<div class="products" >
  <div class="product" >
    <mat-card *ngFor="let dt of filtercategory | filter:searchkey:'description'">
      <img src="{{dt.image}}" class="product-img"/>
      <p><strong>{{dt.title}}</strong></p>
      <p>{{dt.description}}</p>
      <p class="money"> <strong>{{dt.price | currency:'INR'}}</strong></p>
      <!-- <div class="quantity-button">
     <button class="btn" id="plus" type="button" (click)="inc(dt)"><i class="fa fa-plus"></i></button>
     <span>{{dt.quantity}}</span>
     <button class="btn" id="minus" type="button" (click)="dec(dt)" ><i class="fa fa-minus"></i></button>
    </div> -->
     <button class="Add-to-cart"  (click)="addtocart(dt)">  Add to cart </button>
    </mat-card>
  </div>
</div>



