<div class="banner">
 </div>
<div class="products">
  <div class="product">
    <mat-card>
      <img src="https://m.media-amazon.com/images/I/616qtxqIhjL._AC_UL480_FMwebp_QL65_.jpg" alt="" class="product-img">
      <p><strong>Boult's</strong></p>
      <p>Touch screen SmartWtach fitness tracker</p>
      <p class="money">$ <strong>170.00</strong></p>
      <button routerLink="/cart" class="Add-to-cart">Add to cart</button>
    </mat-card>
  </div>

  <div class="product">
    <mat-card>
      <img src="https://m.media-amazon.com/images/I/612pEqP1x0L._AC_UL480_FMwebp_QL65_.jpg" alt="" class="product-img">
      <p><strong>Samsung</strong></p>
      <p>Samsung Galaxy watch</p>
      <p class="money">$ <strong>169.00</strong></p>
      <button routerLink="/cart" class="Add-to-cart">Add to cart</button>
    </mat-card>
  </div>

  <div class="product">
    <mat-card>
      <img src="https://m.media-amazon.com/images/I/71l3Pyw0IsL._AC_UL480_FMwebp_QL65_.jpg" alt="" class="product-img">
      <p><strong>Boat</strong></p>
      <p>Smart Watch for mens and womens</p>
      <p class="money">$ <strong>60.00</strong></p>
      <button routerLink="/cart" class="Add-to-cart">Add to cart</button>
    </mat-card>
  </div>

  <div class="product">
    <mat-card>
      <img src="https://m.media-amazon.com/images/I/61ckBtj8+qL._AC_UL480_FMwebp_QL65_.jpg" alt="" class="product-img">
      <p><strong>MI</strong></p>
      <p>Smart Watch with GPS</p>
      <p class="money">$ <strong>250.00</strong></p>
      <button routerLink="/cart" class="Add-to-cart">Add to cart</button>
    </mat-card>
  </div>

  <div class="product">
    <mat-card>
      <img src="https://m.media-amazon.com/images/I/61e4xJr9N-L._AC_UL480_FMwebp_QL65_.jpg" alt="" class="product-img">
      <p><strong>SAMSUNG GALAXY 2</strong></p>
      <p>Multi sport GPS smartwatch</p>
      <p class="money">$ <strong>327.00</strong></p>
      <button routerLink="/cart" class="Add-to-cart">Add to cart</button>
    </mat-card>
   </div>

  <div class="product">
    <mat-card>
      <img src="https://m.media-amazon.com/images/I/61m6P4oC3YL._AC_UL480_FMwebp_QL65_.jpg" alt="" class="product-img">
      <p><strong>MI 2</strong></p>
      <p>Smart watch with heart rate monitor</p>
      <p class="money">$ <strong>120.00</strong></p>
      <button routerLink="/cart" class="Add-to-cart">Add to cart</button>
    </mat-card>
  </div>

  <div class="product">
    <mat-card>
      <img src="https://m.media-amazon.com/images/I/51kyjYuOZhL._AC_UL480_FMwebp_QL65_.jpg" alt="" class="product-img">
      <p><strong>Noise</strong></p>
      <p>Smart watch with touch screen functinality</p>
      <p class="money">$ <strong>150.00</strong></p>
      <button routerLink="/cart" class="Add-to-cart">Add to cart</button>
    </mat-card>
  </div>

  <div class="product">
    <mat-card>
      <img src="https://m.media-amazon.com/images/I/71YtGtpUQ-L._AC_UL480_FMwebp_QL65_.jpg" alt="" class="product-img">
      <p><strong>Realme</strong></p>
      <p>Smartwatch with bluetooth support</p>
      <p class="money">$ <strong>180.00</strong></p>
      <button routerLink="/cart" class="Add-to-cart">Add to cart</button>
    </mat-card>
  </div>
</div>



