
.banner{
  background-image: url(https://i.pinimg.com/originals/3b/a6/79/3ba679fa46d14c310ee8008891ea5754.jpg
  );
background-size: cover;
padding-top: 27%;
margin-bottom: 10px;
}

h2{
  color: white;
  text-align: center;

  }


  .products{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

  }
  .product > mat-card > img{
  object-fit: contain;
  height: 200px;
  margin-bottom: 10px;
  }

  .product > mat-card{
  display: flex;
  flex-direction: column;
  min-height: 350px;
  width: 250px;
  align-items: center;
  margin: 15px;
  border-radius: 10px;

  }

  .product > mat-card > button{
    margin-top: 20px;
    background-color: #f0c14b;
    opacity: 99%;
    border: 1px solid;
    padding: 8px;
    border-radius: 3px;
    border-color: #a88134 #9c7e31 #846a29;
  }

  .product:hover> mat-card > img{
  height: 214px;
  margin-bottom: 10px;
  }

  .product:hover{
    background-color: rgba(245, 243, 240, 0.886);
  }
