<div class="banner">
 </div>

<div class="products">
  <div class="product">
    <mat-card>
      <img src="https://m.media-amazon.com/images/I/713NOdX971L._MCnd_AC_UL480_FMwebp_QL65_.jpg" alt="" class="product-img">
      <p>Womens Fasion</p>
      <p>Party wear</p>
      <p class="money">&#8377; <strong>400.00</strong></p>
      <button class="Add-to-cart">Add to cart</button>
    </mat-card>
  </div>

  <div class="product">
    <mat-card>
      <img src="https://rukminim1.flixcart.com/image/452/542/kqb8pzk0/top/h/b/o/l-t-003-velmita-original-imag4csfwddfxvtz.jpeg?q=50" alt="" class="product-img">
      <p>Fancy Top</p>
      <p>Casual regular Tshirts</p>
      <p class="money">&#8377; <strong>900.00</strong></p>
      <button class="Add-to-cart">Add to cart</button>
    </mat-card>
  </div>

  <div class="product">
    <mat-card>
      <img src="https://rukminim1.flixcart.com/image/452/542/l16rde80/top/o/i/c/l-bluetop-sakshi-creation-original-imagct4qcvgxzx8z.jpeg?q=50" alt="" class="product-img">
      <p>Top</p>
      <p>Stylish Top</p>
      <p class="money">&#8377; <strong>1200.00</strong></p>
      <button class="Add-to-cart">Add to cart</button>
    </mat-card>
  </div>

  <div class="product">
    <mat-card>
      <img src="https://rukminim1.flixcart.com/image/452/542/l01blow0/top/v/3/u/l-ulss22tp12-06-166-uptownie-lite-original-imagbwsppaqszqga.jpeg?q=50" alt="" class="product-img">
      <p>White Fasion</p>
      <p>Casual pretty black top</p>
      <p class="money">&#8377; <strong>500.00</strong></p>
      <button class="Add-to-cart">Add to cart</button>
    </mat-card>
  </div>

  <div class="product">
    <mat-card>
      <img src="https://rukminim1.flixcart.com/image/452/542/kg5fzww0/top/5/g/q/s-nit-526-nitvan-original-imafwghy5zgxky6g.jpeg?q=50" alt="" class="product-img">
      <p>Girls Top</p>
      <p>Casual wear</p>
      <p class="money">&#8377; <strong>327.00</strong></p>
      <button class="Add-to-cart">Add to cart</button>
    </mat-card>
   </div>

  <div class="product">
    <mat-card>
      <img src="https://rukminim1.flixcart.com/image/452/542/jidg9zk0/top/a/u/s/s-gswpnttp1950yell-gritstones-original-imaf66x5y8ft2jxv.jpeg?q=50" alt="" class="product-img">
      <p>Stylish shirts</p>
      <p>Casual regular top</p>
      <p class="money">&#8377; <strong>1200.00</strong></p>
      <button class="Add-to-cart">Add to cart</button>
    </mat-card>
  </div>

  <div class="product">
    <mat-card>
      <img src="https://rukminim1.flixcart.com/image/452/542/knni7ww0/top/o/m/o/s-dmp303-dmp-fashion-original-imag2a5qkjgjf22k.jpeg?q=50" alt="" class="product-img">
      <p>Top rated</p>
      <p>Casual regular top</p>
      <p class="money">&#8377; <strong>100.00</strong></p>
      <button class="Add-to-cart">Add to cart</button>
    </mat-card>
  </div>

  <div class="product">
    <mat-card>
      <img src="https://rukminim1.flixcart.com/image/452/542/juvjzbk0/top/m/a/n/l-2521910-dressberry-original-imaffvxcxwdgfesq.jpeg?q=50" alt="" class="product-img">
      <p>Pretty stylish top</p>
      <p>Casual regular top</p>
      <p class="money">&#8377; <strong>800.00</strong></p>
      <button class="Add-to-cart">Add to cart</button>
    </mat-card>
  </div>
</div>




