
<div class="white-space"></div>
<div class="wrapper">

  <div class="row">
    <form  method="post" [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
     
      <div class="col-7 col">
        <h3 class="topborder"><span>Billing Details</span></h3>
       
       
        
        <div class="width50 padright">
          <label for="firstname">First Name</label>
          <input type="text"    id="firstname"  placeholder="Enter your first name"  required [formControl]="firstname"/>
          <mat-error *ngIf="!checkoutForm.get('firstname')?.errors?.['required'] && (checkoutForm.get('firstname')?.errors?.['pattern'])">
            Please enter a first name
          </mat-error>
            <mat-error *ngIf="checkoutForm.get('firstname')?.invalid && (checkoutForm.get('firstname')?.dirty || checkoutForm.get('firstname')?.touched) && checkoutForm.get('firstname')?.errors?.['required']">
              First Name is required
            </mat-error>
          
        </div>
        <div class="width50 padright">
          <label for="lastname">Last Name</label>
          <input type="text"   id="lastname" class="form-control"   placeholder="Enter your last name" required [formControl]="lastname"/>
         
          <mat-error *ngIf="!checkoutForm.get('lastname')?.errors?.['required'] && (checkoutForm.get('lastname')?.errors?.['pattern'])">
            Please enter a Last name
          </mat-error>
            <mat-error *ngIf="checkoutForm.get('lastname')?.invalid && (checkoutForm.get('lastname')?.dirty || checkoutForm.get('lastname')?.touched) && checkoutForm.get('lastame')?.errors?.['required']">
             Last Name is required
            </mat-error>
        </div>

        <div>

        <div class="width80 padright">
          <label for="address">Address</label>
        <input type="text"  id="address"  placeholder="Enter your address" required [formControl]="address"/>
       
        <mat-error *ngIf="!checkoutForm.get('address')?.errors?.['required'] && (checkoutForm.get('address')?.errors?.['pattern'])">
          Please enter a Address
        </mat-error>
          <mat-error *ngIf="checkoutForm.get('address')?.invalid && (checkoutForm.get('address')?.dirty || checkoutForm.get('address')?.touched) && checkoutForm.get('address')?.errors?.['required']">
           Address is required
          </mat-error>
        </div>

        <div>
      
        <div class="width50 padright">
        <label for="city"> City</label>
        <input type="text"  id="city"  placeholder="Enter your city" required [formControl]="city"/>
        
        <mat-error *ngIf="!checkoutForm.get('city')?.errors?.['required'] && (checkoutForm.get('city')?.errors?.['pattern'])">
          Please enter a City
        </mat-error>
          <mat-error *ngIf="checkoutForm.get('address')?.invalid && (checkoutForm.get('city')?.dirty || checkoutForm.get('city')?.touched) && checkoutForm.get('city')?.errors?.['required']">
           City is required
          </mat-error>
        </div>
      </div>
      
          
        <div class="width50 padright">
          <label for="province">State</label>
          <input type="text"  id="state"  placeholder="Enter your state" required [formControl]="state"/>
         
        <mat-error *ngIf="!checkoutForm.get('state')?.errors?.['required'] && (checkoutForm.get('state')?.errors?.['pattern'])">
          Please enter a State
        </mat-error>
          <mat-error *ngIf="checkoutForm.get('state')?.invalid && (checkoutForm.get('state')?.dirty || checkoutForm.get('state')?.touched) && checkoutForm.get('state')?.errors?.['required']">
           State is required
          </mat-error>
        </div>

      </div>

      <div>


        <div class="width50 padright">
          <label for="postcode">Postcode</label>
          <input type="text" name="postcode" id="postcode"  placeholder=" Enter a postcode" required [formControl]="postcode"/>
         
          <mat-error *ngIf="!checkoutForm.get('postcode')?.errors?.['required'] && (checkoutForm.get('postcode')?.errors?.['pattern'])">
            Please enter a Postcode
          </mat-error>
            <mat-error *ngIf="checkoutForm.get('postcode')?.invalid && (checkoutForm.get('postcode')?.dirty || checkoutForm.get('postcode')?.touched) && checkoutForm.get('postcode')?.errors?.['required']">
             Postcode is required
            </mat-error>
        </div>

        <div class="width50 padright">
          <label for="mobileno">Mobile no</label>
          <input type="text" name="mobileno" id="mobileno"  placeholder=" Enter a mobileno" required [formControl]="mobileno"/>
         
          <mat-error *ngIf="!checkoutForm.get('mobileno')?.errors?.['required'] && (checkoutForm.get('mobileno')?.errors?.['pattern'])">
            Please enter a Mobile No
          </mat-error>
            <mat-error *ngIf="checkoutForm.get('mobileno')?.invalid && (checkoutForm.get('mobileno')?.dirty || checkoutForm.get('mobileno')?.touched) && checkoutForm.get('mobileno')?.errors?.['required']">
              Mobile No is required
            </mat-error>
        </div>

      </div>
        <div class="width 40 padright ">
          <label for="emailaddress">Email Address</label>
          <input type="text" name="emailaddress" id="emailaddress"  placeholder=" Enter a Email-Id" required [formControl]="emailaddress"/>
         
          <mat-error *ngIf="!checkoutForm.get('emailaddress')?.errors?.['required'] && (checkoutForm.get('emailaddress')?.errors?.['pattern'])">
            Please enter a Email Address
          </mat-error>
            <mat-error *ngIf="checkoutForm.get('emailaddress')?.invalid && (checkoutForm.get('emailaddress')?.dirty || checkoutForm.get('emailaddress')?.touched) && checkoutForm.get('emailaddress')?.errors?.['required']">
              Email Address is required
            </mat-error>
        </div>
        <label for="ordernotes" >Order Notes</label>
        <textarea name="ordernotes"   id="ordernotes" placeholder="Notes about your order, e.g. special notes for delivery. "[formControl]="ordernotes"></textarea>
        <mat-error *ngIf="!checkoutForm.get('')?.errors?.['required'] && (checkoutForm.get('ordernotes')?.errors?.['pattern'])">
          Please enter a your message for us
        </mat-error>
          <mat-error *ngIf="checkoutForm.get('ordernotes')?.invalid && (checkoutForm.get('ordernotes')?.dirty || checkoutForm.get('ordernotes')?.touched) && checkoutForm.get('ordernotes')?.errors?.['required']">
           Order Notes is required
          </mat-error>
      </div>
      
      
      <div class="col-5 col order">
        <h3 class="topborder"><span>Your Order</span></h3>
        <div>
          <h4>Product Name</h4>
        </div>

        <div  *ngFor=" let p of product">
          <p class="prod-description inline"><span class="medium-light">{{p.title}}</span></p>
          
        </div>

        <div>
          <h4 >Product Total</h4>
        </div>

        <div>
          <p class="prod-description inline"><div class="qty inline"><span class="smalltxt">x</span>{{totalItem}}<br/></div>

        </div>

        <div><h5>Cart Subtotal</h5>{{grandTotal|currency:'INR'}}</div>
        <div *ngIf="shopedmore">
          <h5 class="inline difwidth">Shipping and Handling</h5>
          <p  class="inline alignright center">Free Shipping</p>
        </div>
        <div *ngIf="!shopedmore">
          <h5 class="inline difwidth">Shipping and Handling</h5>
          <p  class="inline alignright center">{{grandTotal|currency:'INR'}} + 100*</p>
        </div>
        <!-- <div><h5>Order Total</h5>{{grandTotal|currency:'INR'}}</div> -->

        <div class="subtotal" >

          <p *ngIf="shopedmore"><span style="font-weight: 500;">Order Total:</span> ({{totalItem}} items)
              <strong>{{grandTotal|currency:'INR'}}</strong></p>
              <p *ngIf="!shopedmore"><span style="font-weight: 500;">Order Total:</span> ({{totalItem}} items)
                <strong>{{grandTotal+100|currency:'INR'}}</strong></p>
<div>

</div>



<p><button type="button"   (click)="paynow();saveData()" >Proceed to payment</button></p>

<!-- <p>
  <button type="button" (click)="saveData()">Save Data</button>
</p> -->
  

<!-- <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Submit</button> -->
<!-- <fieldset class="paymenttypes">

          </fieldset> -->
          <a href="#" class="padleft"></a>
        </div>

        <!-- <button class="place-order" routerLink="/thankyou">Place Order</button> -->

      </div>
    </form>
  </div>
</div>



