<div class=content>
  <div class="wrapper-1">
    <div class="wrapper-2">
      <h2>Thank you !</h2>
      <p>Thanks for visiting Our amshop shoping site.  </p>
      <p>your order has been placed successfully.  </p>
      <p>you will shortly receive a confirmation mail.  </p>



    </div>
    <div class="footer-like">
      <p>Email not received?
       <a href="#">Click here to send again</a>
      </p>
      <p>
        please visit again.
      </p>


    </div>
    <button routerLink="/">Go To Home.</button>
</div>
</div>



