<div class="checkout_products" *ngIf="product.length !=0">

  <div class="checkout_product" *ngFor="let p of product, let i= index">

     <img src="{{p.image}}" alt="" class="checkout_product_img">
     <div class="checkout_product_info">

         <p class="checkout_product_title">
          {{p.title}}

         </p>
         <img src="https://cdn2.hubspot.net/hubfs/4567260/0_KZ8hBw7pQZFFt2Mt.png" alt="">
         <p class="checkout_product_in_stock">In Stock</p>
        <div class="checkout_product_gift">

            <input type="checkbox">
            <p>This is a gift</p>
            <a routerLink="/" class="checkout_product_more"> Learn more</a>
        </div>
        <div class="checkout_options">
          <div class="checkout_dropdown">
            </div>
            <a (click)="removeItem(p)"> Delete</a>
        </div>
     </div>
  </div>

  <div class="class-right-subtotal">
  <app-cart></app-cart>
</div>
</div>

<div class="checkout_empty" *ngIf="product.length == 0">
  <h2>Your shopping basket is empty</h2>
  <p>You have no items in your basket</p>
  <button routerLink="/">shop now</button>
</div>
